.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItem{
    flex: 1;
    margin-bottom: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 20px;
    box-shadow: 8px 10px 9px 0px rgba(222,209,209,0.75);
-webkit-box-shadow: 8px 10px 9px 0px rgba(222,209,209,0.75);
-moz-box-shadow: 8px 10px 9px 0px rgba(222,209,209,0.75);
}
.featuredTitle{
    font-size: 20px;
}
.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.featuredMoney{
    font-size: 25px;
    font-weight: 500;
}
.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;

}
.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}
.featuredIcon.negative{
    font-size: 14px;
    margin-left: 5px;
    color: red;
}
.featuredSub{
    font-size: 15px;
    color: gray;
}